<!--   Row   -->
<div class="row">
  {{ cards.bb('184', 'Sidney/Erie') }}
  {{ cards.bb('80', 'Vassar/Stata') }}
  {{ cards.bb('67', 'Mass Ave/W20') }}
  {{ cards.weather_station('sp', '/get_sailing_weather', 'Sailing Pavilion') }}
  {{ cards.weather_station('cs', '/get_wunderground?id=KMACAMBR138', 'Central Square')}}
</div>

<!--   Row   -->
<div class="row">
  {{ cards.nextbus('19', 'Brookline/Erie') }}
  {{ cards.nextbus('20', 'Pacific/Landsdowne') }}
  {{ cards.trash('9577D6A8-2622-11E8-B99F-AA53E9A9BC74') }}
</div>

<!--   Row   -->
<div class="row">
  <!--   Column   -->
  <div class="col-lg-6 mb-4">
    {{ cards.mb_img('Forecast Meteogram', 'cambridge_united-states-of-america_4931972') }}
  </div>
  <!--   Column   -->
  <div class="col-lg-6 mb-4">
    {{ cards.img('MA Weather Radar', 'https://radar.weather.gov/ridge/standard/KBOX_loop.gif') }}
    {{ cards.img('MA Weather Forecast', 'https://www.weather.gov/images/box/weatherstory.png') }}
  </div>
</div>
