{% extends "base.html" %}

{% block pages %}
<li class="nav-item dropup" style="list-style:none">
  <a class="nav-link dropdown-toggle text-gray-600" href="#" id="addressDropdown"
     role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-sm-inline text-gray-600 small">
      {{ page.name|e }}
    </span>
  </a>
  <!-- Dropdown - Page Selection-->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
       aria-labelledby="pageDropdown">
    {% for p in all_pages %}
    <a page_id="{{ p.id }}" class="dropdown-item{{' active' if p.id == page.id else '' }}" href="#">
      {{ p.name|e }}
    </a>
    {% endfor %}
  </div>
</li>
{% endblock %}
