{% macro std(title) %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"> {{ title }} </h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro img(title, url) %}
  {% call std(title) %}
    <img async-src="{{ url }}"
         src="/static/img/loading.gif">
  {% endcall %}
{% endmacro %}

{% macro imgs(id, title, url_template, indices) %}
  {% call std(title) %}
    <div id="{{ id }}" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        {% for i in indices %}
          <li data-target="#{{ id }}" data-slide-to="{{ loop.index0 }}" {{' class="active"' if loop.first else ''}}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for i in indices %}
        <div class="carousel-item{{' active' if loop.first else ''}}">
          <img src="{{ url_template.format(i) }}" class="d-inline h-75">
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {% endcall %}
{% endmacro %}

{% macro mb_img(title, url) %}
  {% call std(title) %}
    <img class="meteoblue_img"
         src="/static/img/loading.gif"
         mb_url="{{ url }}">
  {% endcall %}
{% endmacro %}

{% macro mtn_forecast(title, url) %}
  {% call std(title) %}
    <iframe class="w-100 mf" height="600px" src="http://localhost:5000/get_mf?url={{ url }}"></iframe>
  {% endcall %}
{% endmacro %}

{% macro bb(id, title, size='2') %}
<div class="col-xl-{{ size }} col-sm-6 mb-4" bluebike_card_id="{{ id }}">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body pt-2 pb-2">
      <div class="row no-gutters align-items-center">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          {{ title }}
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
             id="bb-{{ id }}-bikes">N.A./</div>
        <i class="fas fa-bicycle fa-2x text-gray-300 mr-4"></i>
        <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
             id="bb-{{ id }}-docks">N.A.</div>
        <i class="fas fa-sign-in-alt fa-2x text-gray-300 mr-2"></i>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro weather_station(id, url, title) %}
<div class="col-xl-3 col-md-6 mb-4"
     weather_station_card_id="{{ id }}" url="{{ url }}">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body pt-2 pb-2">
      <div class="row no-gutters align-items-center">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          {{ title }}
        </div>
      </div>
      <div class="row no-gutters align-items-center">
        <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
             id="ws-{{ id }}-temp">N.A.</div>
        <i class="fas fa-thermometer-three-quarters fa-2x text-gray-300 mr-4"></i>
        <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
             id="ws-{{ id }}-humidity">N.A.</div>
        <i class="fas fa-tint fa-2x text-gray-300 mr-4"></i>
        <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
             id="ws-{{ id }}-wind">N.A.</div>
        <i class="fas fa-wind fa-2x text-gray-300 mr-2"></i>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro nextbus(stopid, title) %}
<div class="col-xl-3 col-md-6 mb-4" nextbus_card_id="{{ stopid }}">
<div class="card border-left-info shadow h-100 py-2" >
  <div class="card-body pt-2 pb-2">
    <div class="row no-gutters align-items-center">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
        {{ title }}
        <span id="nextbus-{{ stopid }}-title">
        </span>
      </div>
    </div>
    <div class="row no-gutters align-items-center">
      <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
           id="nextbus-{{ stopid }}-predictions">N.A.</div>
      <i class="fas fa-bus-alt fa-2x text-gray-300 mr-4"></i>
    </div>
  </div>
</div>
</div>
{% endmacro %}

{% macro trash(id) %}
<div class="col-xl-3 col-md-6 mb-4" trash_card_id="{{ id }}">
<div class="card border-left-info shadow h-100 py-2" >
  <div class="card-body pt-2 pb-2">
    <div class="row no-gutters align-items-center">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
        Trash collection
        <span id="trash-{{ id }}-title">
        </span>
      </div>
    </div>
    <div class="row no-gutters align-items-center" >
      <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
           id="trash-{{ id }}-date">N.A.</div>
      <span id="trash-{{ id }}-icons">
        <i class="fas fa-trash-alt fa-2x text-gray-300 mr-4"></i>
      </span>
    </div>
  </div>
</div>
</div>
{% endmacro %}

{% macro bkb(loc, cal_id) %}
<div class="col-xl-3 col-md-6 mb-4" bkb_card_id="{{ cal_id }}">
<div class="card border-left-info shadow h-100 py-2" >
  <div class="card-body pt-2 pb-2">
    <div class="row no-gutters align-items-center">
      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
        BKB {{ loc }} routesetting
      </div>
    </div>
    <div class="row no-gutters align-items-center" >
      <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800"
           id="bkb-{{ cal_id }}-date">N.A.</div>
      <span id="bkb-{{ cal_id }}-icons">
        <i class="fas fa-bkb-alt fa-2x text-gray-300 mr-4"></i>
      </span>
    </div>
  </div>
</div>
</div>
{% endmacro %}
