<!--   Row   -->
<div class="row">
  <!--   Column   -->
  <div class="col-lg-6 mb-4">
    {{ cards.mb_img('Rumney Meteogram', 'forecast/meteograms/rumney_united-states_5091981') }}
    {{ cards.mb_img('North Conway Meteogram', 'forecast/meteograms/north-conway_united-states_5090347') }}
    {{ cards.mb_img('Gunks Meteogram', 'forecast/meteograms/shawangunk-mountains_united-states_5137827') }}

    {{ cards.imgs('wind-carousel', 'Wind',
                  'https://assets.weather-forecast.com/maps/static/UnitedStates.wind.{}.cc23.jpg',
                  range(6,73,6))
    }}
  </div>
  <!--   Column   -->
  <div class="col-lg-6 mb-4">

    {{ cards.mtn_forecast('Washington Forcast', 'Mount-Washington-2/forecasts/1917') }}
    {{ cards.mtn_forecast('Cannon Forcast', 'Cannon-Mountain-New-Hampshire/forecasts/1250') }}

    {{ cards.imgs('prec-carousel', 'Precipitation',
                  'https://assets.weather-forecast.com/maps/static/UnitedStates.prec.{}.cc23.jpg',
                  range(6,73,6))
    }}

    {{ cards.imgs('cloud-cover-carousel', 'Cloud Cover',
                  'https://assets.weather-forecast.com/maps/static/UnitedStates.cloud.{}.cc23.jpg',
                  range(6,73,6))
    }}


  </div>
</div>
